@charset "utf-8";
body{ background:#f3f5f7;}
/*=======首页头部========*/
.header { height:50px; background:#f23030; position: fixed; top: 0; width: 100%; z-index: 209; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); border-bottom:none;}
.header-content{position: relative; width: 100%; height:50px;height: 100%; line-height:50px;display: -webkit-box;display: -ms-flexbox;position: relative;}
.header .nav-wap-left,.header .nav-wap-right{margin-top:5px; position:relative; margin:5px 10px 0;}
/*扫码*/
.qrcode{ position:relative; margin:5px 10px 0;}
.qrcode .top-icon{ display:block;background-image: url(../images/btn_scan_white.png);width:25px;height:25px; margin:auto; webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
.qrcode .bottom-nav{ display:block; height:10px; line-height:10px;margin-top:4px; text-align:center; font-size:12px; color:#fff;}
.header .qrcode .top-left{  display:block;background-image: url(../images/catalog.png);width:22px;height:22px; margin:auto; margin-top:3px;-webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
a.city {display: block;margin-right:12px;text-indent:10px;height:50px;line-height:50px;background: url(../images/arrow_down.png) no-repeat right center;background-size:15px 15px;padding-right:18px; color:#fff; font-size:0.65rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.header .nav-wap-right a,.header .nav-wap-right .qrcode{ display:inline-block; cursor:pointer;}
.header .nav-wap-right .qrcode{ margin:0 5px 0 0;}
.header .nav-wap-right a .top-right{ display:block;background-image: url(../images/btn_scan_white.png);width:25px;height:25px; margin:auto; position:relative;-webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
.header .nav-wap-right a:last-child .top-right{background-image: url(../images/message.png);width:25px;height:25px; margin:auto; position:relative;-webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
.header .nav-wap-left .bottom-nav,.header .nav-wap-right .bottom-nav{ display:block; height:10px; line-height:10px;margin-top:4px; text-align:center; font-size:12px; color:#fff;}
.message-num{position: absolute;left:17px;top:0;background: #FFF;min-width:13px;height:13px;line-height:14px; border-radius:50%;color:#f23030; font-size:10px; text-align:center;}
.box-search { -webkit-box-flex: 1; -ms-flex: 1;background:#fff; margin-top:8px;height:34px; line-height:35px; -webkit-box-sizing: border-box; position: relative; border-radius:20px; color:#fff; font-size:0.65rem;}
.icon-search { margin-left:12px;color:#999; font-size:0.75rem; position:relative; bottom:-1px; font-weight:600;}
.single-line { font-size:0.65rem; color:#999;}

/*广告位分割线*/
.border-right{border-right: 1px solid transparent; box-sizing:border-box;}
.border-bottom{border-bottom: 1px solid transparent; box-sizing:border-box;}

/*---广告位标题颜色 ----*/
h2{height:2rem;line-height:2rem; font-size:16px; font-weight:bold;color: #222;text-align: center;position: relative; border-bottom:1px solid #eee;}
h2.bg{ background:#fff;}
h2>font {display: inline-block;width:1.5rem;height:0.05rem;background: #999;position: relative;top:0.95rem;vertical-align: top;}
h2>span{ display:inline-block; margin:0 auto;font-weight:bold}


/*轮播广告位图*/
.swiper-pagination .swiper-pagination-bullet{ background:#fff; opacity:1; border:1px solid #eee; box-sizing:border-box;}
.swiper-pagination .swiper-pagination-bullet-active{ background:#f23030; border:none;}
.swiper-banner .swiper-wrapper .swiper-slide{ width:100% !important;}
.swiper-banner .swiper-wrapper .swiper-slide a img{ width:100% !important;}

/*盒子模型*/
.ub {display: -webkit-box !important;display: box !important;position: relative;}
.ub-ver {-webkit-box-orient: vertical;box-orient: vertical;}
.ub-f1 {position: relative;-webkit-box-flex: 1;box-flex: 1;}
.ub-ac {-webkit-box-align: center;box-align: center;}

/*---并排广告位 ----*/
.ad-box{ width:100%; overflow:hidden; margin:auto;}
.ad-box ul{ width:100%; overflow:hidden; border-bottom:1px solid transparent;}
.ad-box ul li{ width:100%; overflow:hidden;}
.ad-box ul li:last-child{ border:none;}
.ad-box ul li a,.ad-box dl a{ display:block;}
.ad-box ul li a img,.ad-box dl a img{    width:100%;/*Fallback for browsers that don't support the calc() function*/width: -moz-calc(100%);width: -webkit-calc(100%);width: calc(100%)}
.ad-col02-box ul li{ width:50%; float:left; overflow:hidden;}/*---2个并排广告位 ----*/
.ad-col03-box ul li{ width:33.33%; float:left; overflow:hidden;}/*---3个并排广告位 ----*/
.ad-col04-box ul li{ width:25%; float:left; overflow:hidden;}/*---4个并排广告位 ----*/
.ad-col05-box ul li{ width:20%; float:left; overflow:hidden;}/*---5个并排广告位 ----*/
/*左一右二广告*/
.ad-box dl{ width:100%; overflow:hidden;border-bottom:1px solid transparent;}
.ad-box dl dt,.ad-box dl dd{ width:50%;overflow:hidden; float:left; position:relative;}
.ad-box dl dd span{ display:block; width:100%; overflow:hidden; margin-top:-1px;}
.ad-box dl dd span:nth-child(2){ border:0; margin-top:0;}
/*---2排8个广告位 ----*/
.ad-col08-box ul li{ width:25%; float:left; overflow:hidden; border-bottom:1px solid transparent;border-right: 1px solid transparent; box-sizing:border-box;}/*---8个广告位 ----*/
.ad-col08-box ul li:nth-child(4){ border-right:none;}
.ad-col08-box ul li:nth-child(5),.ad-col08-box ul li:nth-child(6),.ad-col08-box ul li:nth-child(7),.ad-col08-box ul li:nth-child(8){ border-bottom:none;}
.ad-col08-box ul li:nth-child(8){border-right:none;}
/*广告版式四*/
.topic-box{ min-height:100%; width:100%;}
.activity-ad-box,.activity-ad-col02,activity-ad-col03,activity-ad-col04{position:relative;padding:0 10px; box-sizing:border-box;}
.activity-ad-col02{ padding:0 15px 0 10px;}
.activity-ad-col03{padding:0 20px 0 10px;}
.activity-ad-col04{padding: 0 25px 0 10px;}
.activity-ad-box .ad-item{ position:relative; float:left; display:block;padding: 0 0 5px!important; width:100%; box-sizing:content-box;}
.activity-ad-col02 .ad-item{ width:50%;}
.activity-ad-col03 .ad-item{ width:33.33%;}
.activity-ad-col04 .ad-item{ width:25%;}
.activity-ad-col02 .ad-item:nth-of-type(2n) {margin-right: -5px; float:right;}
.activity-ad-col03 .ad-item:nth-of-type(3n+2){ margin-left:5px;}
.activity-ad-col03 .ad-item:nth-of-type(3n){ margin-right:-10px; float:right;}
.activity-ad-col04 .ad-item:nth-of-type(4n+2),.activity-ad-col04 .ad-item:nth-of-type(4n+3) {margin-left:5px;}
.activity-ad-box .ad-item:nth-of-type(4n) {float: right;margin-right: -15px;}
.activity-ad-box .ad-item .ad-img{position: relative;overflow: hidden;display:block;}
.activity-ad-box .ad-img img{ width:100%; height:auto; display:block;}



/*首页快捷导航--自定义菜单*/
.nav-list{ width:100%; overflow:hidden; background:#FFF; padding:10px 0px; border-bottom:1px solid #f8f8f8;}
.nav-list>ul{ width:95%;overflow:hidden; margin:0 auto;}
.nav-col04-list>ul>li>a{ display:block; width: 25%; overflow: hidden; float:left;text-align: center; margin-top:5px;}
.nav-col04-list>ul>li>a>span{ display:block; width:100%; height:30px; text-align:center; line-height:30px; color: #222; font-family: "微软雅黑"; font-size:0.6rem; }
.nav-col04-list>ul>li>a>img{ display:block; width:50%; margin:auto;}
.nav-col05-list>ul>li>a{ display:block; width: 20%; overflow: hidden; float:left;text-align: center; margin-top:5px;}
.nav-col05-list>ul>li>a>span{ display:block; width:100%; height:30px; text-align:center; line-height:30px; color: #222; font-size:0.6rem;}
.nav-col05-list>ul>li>a>img{ display:block; width:60%; margin:auto;}


/*商城热点*/
.hot{ width:100%; height:60px;background:#FFF;border-bottom:1px solid #eee;}
.hot .notice-img{ float:left;width:44px;height:44px; margin:8px 20px;position:relative;}
.hot .notice-img img{ display:block; height:44px; width:44px;}
.hot .notice-img:after{ content:''; display:block; width:1px; height:44px; background-color:#eee;position: absolute;right: -20px;top: 0;}
.hot ul{ position:absolute; left:95px; top:0px; overflow:hidden;}
.hot ul li{ width:100%; height:60px; float:left; line-height:60px;}
.hot ul li i{ display:block; width:10%; float:left; font-size:0.8rem; line-height:60px; color:#f23030;text-align:center;}
.hot ul li .hot-message{ display:block; width:80%; float:left; margin-left:2%; height:50px; margin-top:5px;}
.hot ul li .hot-message a{ display:block;padding-left:10px; height:25px; overflow:hidden; font-size:0.6rem; line-height:25px; color:#666; -webkit-line-clamp: 1;-webkit-box-orient: vertical;display: -webkit-box; position:relative;}
.hot ul li .hot-message a:before{ content: '';position:absolute; left:0; top:10px; width:3px; height:3px; border-radius:50%; background:#f23030;}


/*店铺推荐*/
.store-wall{ width:100%; margin:auto; overflow:hidden;}
.store-wall-content{ width:100%; margin:auto; overflow:hidden; background:#fff;position: relative;height: 140px;border-bottom:1px solid #eee; box-sizing:border-box;}
.store-wall-content .shop-container{ width:100%;}
.shop-container>.swiper-wrapper>.swiper-slide{ width:30%; float:left; height:70px; overflow:hidden;height: 100%;overflow: hidden;}
.shop-container>ul>.swiper-slide a{height: 70px;overflow: hidden; position:relative;}
.shop-container>ul>.swiper-slide a:before{content: '';width: 0px;display: block;border-right: 1px solid #f8f8f8;position: absolute;top: 0;bottom: 0;right: 0;}
.shop-container>ul>.swiper-slide a:after{content: '';height: 0px;display: block;border-bottom: 1px solid #f8f8f8;position: absolute;left: 0;right: 0;bottom: 0}
.shop-container>ul>.swiper-slide a:nth-child(2n):after{content: none;}
.store-wall-content ul li img{ display:block; height:40px; margin:auto; width:80px; margin-top:14px;}


/*商品公共标题*/
.goods-floor-title{ display:block;height:2rem;line-height:2rem; padding:0 0.5rem;font-size:14px;color: #666;text-align: center; background:#fff;border-bottom: 1px solid #eee; font-weight:bold;}
.goods-floor-title .title-name{display: block;float: left;font-size:16px;line-height:2rem;color: #222;letter-spacing: 1px;}
.goods-floor-title a.more-link{ float:right; height:2rem; line-height:2rem;width:auto;}
.goods-floor-title a .iconfont{display: inline-block; float:right; width:0.65rem; height:2rem;line-height:2rem; font-size:0.55rem; color:#666; position:relative;vertical-align: top;}
.goods-floor-title a span{color: #222;font-size:15px; line-height:2rem; margin-right:0.2rem;display: inline-block; font-weight:normal;}


/*今日秒杀,新品，精品，热卖*/
.sale-goods-box { width:100%;overflow: hidden;background:#fff; padding-bottom:5px;border-bottom:1px solid #eee;}
/*促销倒计时*/
.sale-time{ width:100%;min-height:20px; position:absolute; bottom:0;right:0; font-size:0.5rem; line-height:20px; color:#FFF;background-color: rgba(250,72,98,0.5);}
.sale-goods-list{ text-align: center; width:95%; margin:auto; overflow:hidden;}
.sale-goods-list .bd ul{ width:100%; overflow:hidden; margin:auto;}
.sale-goods-list .bd ul li{ width:33.33%; float:left; overflow:hidden; margin:0px;}
.sale-goods-list .bd ul li .goods-info{padding: 0.25rem;overflow: hidden;margin: auto;background: #fff;}
.sale-goods-list .bd ul li .goods-pic{ width:100%; margin:auto;overflow: hidden; position:relative;}
.sale-goods-list .bd ul li .goods-pic img{width:100% !important; height:auto !important; margin:auto}
.sale-goods-list .bd ul li .goods-name{width:100%; margin:auto;overflow:hidden; margin-top:0.25rem;text-align:left}
.sale-goods-list .bd ul li .goods-name a{ display:block; width:100%; height:1.8rem; overflow:hidden;color:#222;font-size:0.6rem;line-height:0.9rem;text-align:left;}
.sale-goods-list .bd ul li .price{width:100%; overflow:hidden; margin:auto; position:relative;text-align:left;}
.sale-goods-list .bd ul li .price span{ display:block;width:100%; overflow:hidden; margin:auto; font-size:0.6rem; line-height:35px; color:#E71F19; }
.sale-goods-list .bd ul li .btns{width: 25px;height: 25px;border:1px solid #DADADA;border-radius: 50%;font-size: 24px;line-height: 25px;color: #F8849C;background: url(../images/shop-cart.png) no-repeat -25px -27px;background-size: 60px;
text-indent: -9999px;position: absolute;right: 5px;bottom: 0px;z-index: 2;}
.sale-goods-list .hd{height: 2px;margin-top: 15px;margin-bottom: 5px;}
.sale-goods-list .hd .swiper-pagination-bullet{ display: inline-block; width:25px; height:2px; background:#eee;margin: 0 10px; vertical-align: top; overflow: hidden; -webkit-border-radius:0.15rem; -moz-border-radius:0.15rem; border-radius:0.15rem; color:#eee;opacity:1; }
.sale-goods-list .hd .swiper-pagination-bullet-active{ background:#f23030;color:#f23030;}
.blank-div{ height:8px; background:#f3f5f7; width:100%; border-bottom:1px solid #eee;clear:both;}


/*首页楼层*/
.goods-floor{ width:100%; overflow:hidden;border-bottom:1px solid #eee;}
.goods-floor ul { width:100%; overflow:hidden; margin:auto; background:#fff;}
.goods-floor ul li{float: left; text-align: center;position:relative;}
.goods-floor ul li.goods-col02{ width:50%;}
.goods-floor ul li.goods-col03{ width:33.33%;}
.goods-floor ul li:before{content: '';width: 0px;display: block;border-right: 1px solid #f8f8f8;position: absolute;top: 0;bottom: 0;right: 0;}
.goods-floor ul li:after{content: '';height: 0px;display: block;border-bottom: 1px solid #f8f8f8;position: absolute;left: 0;right: 0;bottom: 0}
.goods-floor ul li.goods-col02:nth-child(2n):before{content: none;}
.goods-floor ul li.goods-col03:nth-child(3n):before{content: none;}
.goods-floor ul li:last-child:after,.goods-floor ul li:nth-last-child(2):after{ content:none;}
.goods-floor ul li .goods-info{ padding:0.25rem;overflow:hidden; margin:auto; background:#fff;}
.goods-floor ul li .goods-pic{ width:100%;overflow: hidden; position:relative;}
.goods-floor ul li .goods-pic img{width:100%; margin:auto}
.goods-floor ul li .goods-name { width:100%;height:1.75rem; overflow:hidden;text-align:left; margin-top:0.25rem;}
.goods-floor ul li .goods-name a{ display:block; width:100%; height:1.8rem;overflow:hidden;color:#222;font-size:0.6rem;line-height:0.9rem; text-align:left; word-break:break-all;}
.goods-floor ul li.goods-col02 .goods-name a{ font-size:0.65rem;}
.goods-floor ul li .price {width:100%; overflow:hidden; margin:auto; position:relative;text-align:left;}
.goods-floor ul li .price span { display:block;width:100%; overflow:hidden; margin:auto; font-size:0.65rem; line-height:23px; color:#E71F19;}
.goods-floor ul li.goods-col02 .price span{ font-size:0.75rem; line-height:35px;}

/*首页无限加载*/
.goods-loading-box { width:98%; margin:auto; overflow:hidden;}
.goods-loading-box h4 {height:2rem; line-height:2rem;font-size:0.75rem;color:#f23030;text-align:center;font-weight:normal}
.goods-loading-box h4 i{ display:inline-block; width:0.8rem;height:0.8rem; line-height:0.8rem; font-size:0.6rem; color:#f23030; border:1px solid #f23030; border-radius:50%; margin-right:0.4rem; box-sizing:border-box;}
.goods-loading-box ul { width:50%; float: left; text-align: center; overflow:hidden;}
.goods-loading-box ul li { width:97%; margin:auto; margin-bottom:3%; background:#FFF; overflow:hidden;-webkit-box-shadow: 0 0 1px #eee;box-shadow: 0 0 1px #eee; box-sizing:border-box;}
.goods-loading-box ul li .goods-info{ width:100%; overflow:hidden; margin:auto;}
.goods-loading-box ul li .goods-pic{ width:100%; margin:auto;overflow: hidden; position:relative;}
.goods-loading-box ul li .goods-pic img{width:100%; margin:auto;}
.goods-loading-box ul li .goods-name { width:93%; margin:auto;text-align:left;height:1.75rem; overflow: hidden; margin-top:0.25rem;}
.goods-loading-box ul li .goods-name a{ display:block; width:100%;height:1.8rem; line-height:0.9rem; overflow:hidden;color:#222;font-size:0.65rem;}
.goods-loading-box ul li .price {width:100%; overflow:hidden; margin:auto; position:relative;text-align:left; margin-bottom:0.25rem;}
.goods-loading-box ul li .price span {display:block;width:93%; overflow:hidden; margin:auto; font-size:0.75rem; line-height:35px; color:#f23030;}
.goods-loading-box ul li .btns{width: 29px;height:29px;border:1px solid #DADADA;border-radius: 50%;
font-size: 30px;line-height: 29px;position: absolute;right:10px;bottom:4px;z-index: 2;}
.goods-loading-box ul li .btns i{ display:block;line-height:26px; text-align:center; color:#f23030; font-size:1.1rem;}


/*附近商家*/
.nearby-shops-box{ width:100%;}
.nearby-shops-box .nearby-shops-title{display: block;height: 2rem;line-height: 2rem;padding: 0 0.5rem;font-size: 0.7rem;color: #222;text-align: center; background:#fff; border-bottom:1px solid #eee;}
.nearby-shops-box .nearby-shops-list{ width:100%; position:relative;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info{ min-height:60px;background:#fff; position:relative; padding:13px 0;border-bottom: 1px solid #F2F2F2;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info:last-child{ border:0;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-logo{display: block;width:60px;height:60px;position: absolute;z-index: 1;top:13px;left: 10px;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-logo img{ width:60px; height:60px;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content{display: block;margin: 0 0 0 80px;position: relative;padding-right:0.5rem;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content dt{height:22px;line-height:22px;font-size:0.65rem;color: #222; zoom: 1}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-name{ float:left; max-width:140px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #222;font-size: 0.65rem; font-weight:bold;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-distance{ float:right; color:#f23030;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-distance i{display: inline-block;font-size: 20px;
color: #666;vertical-align: middle;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content dd{ height:23px; line-height:23px;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content dd:last-child{ height:15px; line-height:15px;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-rank{ display:inline-block;max-width:150px;height: 23px;overflow: hidden; margin-right:5px; vertical-align:top;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-rank img {max-width: 100%;max-height: 100%; height:16px; margin-top:2px;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-sold{ display:inline-block;line-height:23px; color:#666; vertical-align:top;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-desc p{height:15px;color: #666;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-discount{ border-top:1px solid #eee; padding:5px 0;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-discount ul li{ margin-bottom:4px; position:relative;}
.nearby-shops-box .nearby-shops-list .nearby-shops-info .shop-content .shop-discount ul li .shop-discount-desc {line-height:20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; color:#a9a9a9;}

/*自定义模板*/
.custom-box{ width:100%; position:relative;}
.custom-box table{ width:100% !important;}
.custom-box img{ width:100%; height:auto;}

/*云旺客服*/
.customer-service{ display: block; width: 40px; height: 40px; position: fixed; bottom:160px; background:url(../images/btn_customer_service.png) no-repeat; background-size:contain;right: 8px; z-index:100; }